<h1><%= @cocktail.name %></h1>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<%= link_to "add dose", new_cocktail_dose_path(@cocktail) %>

<% @cocktail.doses.each do |dose| %>

  <h3>description: <%= dose.description %> dose: <%= dose.ingredient.name %> </h3>

<% end %>
<br>



<%= link_to "Back to Cocktails", cocktails_path %>
